body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

@keyframes color-damping {
  0% {
    background-position: right;
  }
  80% {
    background-position: left;
  }
  85% {
    background-position: 10%;
  }
  90% {
    background-position: 0%;
  }
  95% {
    background-position: 5%;
  }
  100% {
    background-position: left;
  }
}
@keyframes change_font {
  0% {
    font-size: 38px;
  }
  20% {
    font-size: 35px;
  }
  40% {
    font-size: 38px;
  }
  60% {
    font-size: 35px;
  }
  80% {
    font-size: 38px;
  }
  100% {
    font-size: 35px;
  }
}
@keyframes down_up {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.btnred {
  color: white;
  background-color: #FF2020;
  border: solid 1px #FF2020;
  width: 100%;
  padding: 11px;
  transition: all 0.5s;
}
.btnred:hover {
  background-color: white;
  color: #FF2020;
}

.active2 {
  background-color: #F3EAD8;
  border-radius: 5px;
  color: black !important;
}

.active3 {
  color: #fff !important;
  background-color: #ff2020 !important;
}

.selected {
  background-color: #FF2020 !important;
}

.navclass {
  position: fixed !important;
  top: 0;
}

.img-fluid {
  width: 100%;
}

.left5 {
  left: 5%;
}

.right5 {
  right: 5%;
}

header #goTop {
  background-color: rgba(235, 228, 228, 0.5);
  position: fixed;
  z-index: 100;
  bottom: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
}
header #goTop img {
  width: 100%;
  transform: rotate(270deg);
}
header .nav1 {
  color: rgba(41, 38, 33, 0.7);
  font-size: 14px;
  display: flex;
  border-bottom: 1px solid rgba(221, 221, 221, 0.5);
}
header .nav1 .left {
  line-height: 50px;
}
header .nav1 .left a {
  text-decoration: none;
  color: rgba(41, 38, 33, 0.7);
  padding: 0 10px;
}
header .nav1 .right {
  text-align: end;
  width: 50%;
}
header .nav1 .right .ul1 > li:not(:last-child) {
  border-right: 1px solid rgba(221, 221, 221, 0.5);
  padding: 10 5px;
}
header .nav1 .right .ul1 > li:not(:last-child) a {
  text-decoration: none;
  color: rgba(41, 38, 33, 0.7);
  padding: 0 10px;
}
header .nav1 .right ul {
  padding: 0 5px;
  display: inline-block;
  list-style-type: none;
  margin: 0;
}
header .nav1 .right ul li {
  display: inline-block;
}
header .nav1 .right ul li i {
  padding: 0 5px;
  color: rgba(41, 38, 33, 0.7);
  transition: all 0.5s;
}
header .nav1 .right ul li i:hover {
  color: #ff2020;
  transform: rotateY(180deg);
}
header .nav1 .right ul li i:hover a {
  display: block;
}
header #nav2 {
  position: relative;
  font-size: 14px;
  background-color: #fff;
  line-height: 80px;
  width: 100%;
  z-index: 100;
}
header #nav2 .left {
  padding-top: 16px;
}
header #nav2 .center {
  z-index: 1000;
  text-align: center;
}
header #nav2 .center a {
  display: inline;
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding: 0 25px;
}
header #nav2 .center a:hover {
  color: #ff2020;
}
header #nav2 .center .drop1 {
  position: relative;
}
header #nav2 .center .drop1 .ul2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  position: absolute;
  top: 65;
  left: -20;
  border-radius: 5px;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 25px;
}
header #nav2 .center .drop1 .ul2 li {
  width: 140px;
  padding: 5 0px;
  display: inline-block;
}
header #nav2 .center .drop1 .ul2 li a {
  padding: 0;
}
header #nav2 .center .drop1:hover .ul2 {
  display: flex;
}
header #nav2 .center .drop2 {
  position: relative;
}
header #nav2 .center .drop2 .ul3 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  position: absolute;
  top: 65;
  left: -20;
  border-radius: 5px;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 25px;
}
header #nav2 .center .drop2 .ul3 li {
  width: 120px;
  padding: 5 0px;
  display: inline-block;
}
header #nav2 .center .drop2 .ul3 li a {
  padding: 0;
}
header #nav2 .center .drop2:hover .ul3 {
  display: flex;
}
header #nav2 .right {
  text-align: end;
}
header #nav2 .right a {
  padding: 10px;
  color: rgba(0, 0, 0, 0.7);
}
header #nav2 .right a:hover {
  color: #ff2020;
}
header #nav2 .right .cart {
  position: relative;
  transition: all 0.5s;
}
header #nav2 .right .cart .cartItems {
  text-align: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  position: absolute;
  top: 5;
  right: -3;
  background-color: #FF2020;
}
header #nav2 .right .cart:hover .cartItems {
  top: 4;
}
header #nav2 .parent {
  opacity: 0;
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #4C4C4C;
  text-align: end;
}
header #nav2 .parent button {
  background-color: #222222;
  color: white;
  border-radius: 10px;
  padding: 10 15px;
}
header #nav2 .parent button i {
  padding: 0 5px;
}
header #nav2 .parent .child {
  display: none;
  line-height: 25px;
  text-align: start;
}
header #nav2 .parent .child .child2 {
  display: none;
}
header #nav2 .parent .child a, header #nav2 .parent .child p {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0 15px;
  margin: 0;
  border-radius: 5px;
  transition: all 0.5s;
}
header #nav2 .parent .child a:hover, header #nav2 .parent .child p:hover {
  background-color: #CCCCCC;
}
header #nav2 .parent .child > div {
  padding: 0 20px;
}
header .nav3 {
  background-color: black;
  height: 40px;
}
header .nav3 p {
  text-align: center;
  line-height: 40px;
  color: white;
  margin: 0;
}
header .nav3 a {
  color: #d89548;
  text-decoration: none;
  border-bottom: solid 1px #d89548;
}
header .banner {
  z-index: 0;
  height: 700px;
  position: relative;
}
header .banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
header .banner .onBanner {
  position: absolute;
  top: 225px;
  text-align: center;
  width: 35%;
  height: 250px;
  padding: 0 25px;
}
header .banner .onBanner h4 {
  color: red;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  margin: 0;
  padding: 5px 0;
}
header .banner .onBanner h3 {
  overflow: hidden;
  color: black;
  font-size: 35px;
  margin: 0;
  animation-name: change_font;
  animation-duration: 1s;
}
header .banner .onBanner p {
  color: rgba(0, 0, 0, 0.7);
  line-height: 25px;
  font-size: 18px;
  animation-name: down_up;
  animation-duration: 1s;
}
header .banner .onBanner button {
  font-size: 15px;
  padding: 15 30px;
  color: white;
  background-color: black;
  border: solid 1px black;
  transition: all 0.5s;
  font-weight: bolder;
  animation-name: down_up;
  animation-duration: 1.5s;
}
header .banner .onBanner button:hover {
  background-color: white;
  color: black;
}
header .banner .onBanner .adjustKeyFrame {
  height: 50px;
}
header .banner .next {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 300px;
  width: 100%;
}
header .banner .next button {
  height: 100px;
  width: 50px;
  opacity: 0.5;
  background-color: black;
  color: white;
  border: none;
  transition: all 0.5s;
}
header .banner .next button:hover {
  opacity: 1;
}

@media (max-width: 1500px) {
  header #nav2 .center a {
    padding: 0 15px;
  }
}
@media (max-width: 1200px) {
  header #nav2 .center a {
    padding: 0 5px;
  }
  header #nav2 .right a {
    padding: 5px;
  }
  header .banner .onBanner {
    width: 50%;
  }
}
@media (max-width: 1000px) {
  header #nav2 .center a {
    display: none;
  }
  header #nav2 .right a {
    padding: 0 2px;
  }
  header #nav2 .parent {
    opacity: 1;
  }
}
@media (max-width: 850px) {
  header .nav1 {
    font-size: 12px;
  }
  header .nav1 .right {
    padding: 15px 0;
  }
  header .nav1 .right .ul1 > li:not(:last-child) {
    border-right: none;
    padding: 0 3px;
  }
  header .nav1 .right .ul1 > li:not(:last-child) a {
    padding: 0px;
  }
  header .nav1 .left a {
    padding: 0 5px;
  }
  header .banner .onBanner {
    width: 70%;
  }
}
@media (max-width: 600px) {
  header .nav1 {
    display: none;
  }
  header .banner .onBanner {
    width: 90%;
  }
}
@media (max-width: 450px) {
  header .banner .onBanner h4 {
    font-size: 25px;
  }
  header .banner .onBanner h3 {
    font-size: 25px;
    animation-name: none;
  }
}
.categories {
  padding: 20px 0;
}
.categories .col-md-4 .forOverflow {
  overflow: hidden;
  position: relative;
}
.categories .col-md-4 .forOverflow:hover .position {
  transform: scale(1.1, 1.1);
}
.categories .col-md-4 .forOverflow:hover .layout div {
  top: 65%;
}
.categories .col-md-4 .forOverflow .position {
  position: relative;
  object-fit: contain;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  transition: all 0.5s;
}
.categories .col-md-4 .forOverflow .layout {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
}
.categories .col-md-4 .forOverflow .layout div {
  position: absolute;
  top: 80%;
  left: 30%;
  text-align: center;
  color: white;
  font-size: 25px;
  transition: all 0.5s;
}
.categories .col-md-4 .forOverflow .layout div a {
  text-decoration: none;
  color: #d89548;
  border-bottom: #d89548 solid 1px;
  font-size: 15px;
}

@media (max-width: 1400px) {
  .categories .col-md-4 .forOverflow:hover .layout div {
    top: 60%;
  }
  .categories .col-md-4 .forOverflow .layout div {
    top: 75%;
    left: 30%;
  }
  .categories .col-md-4 .forOverflow .layout div a {
    font-size: 15px;
  }
}
@media (max-width: 1000px) {
  .categories .col-md-4 .forOverflow:hover .layout div {
    top: 60%;
  }
  .categories .col-md-4 .forOverflow .layout div {
    top: 75%;
    left: 25%;
  }
  .categories .col-md-4 .forOverflow .layout div a {
    font-size: 15px;
  }
  .categories .col-md-4 .forOverflow .layout div h4 {
    font-size: 16px;
    margin: 10px 0;
  }
}
@media (max-width: 800px) {
  .categories .col-md-4 .forOverflow .layout div {
    top: 80%;
    left: 25%;
  }
  #TrendingThisWeek .up .container .left {
    width: 50%;
    font-size: 30px;
  }
  #TrendingThisWeek .up .container .left h5 {
    font-size: 16px;
  }
  #TrendingThisWeek .up .container .right {
    width: 50%;
    text-align: end;
  }
  #TrendingThisWeek .up .container .right ul {
    display: inline;
  }
  #TrendingThisWeek .up .container .right ul .active {
    border-bottom: solid 4px #FF2020;
    padding-bottom: 25px;
    color: #FF2020;
  }
  #TrendingThisWeek .up .container .right ul li {
    font-size: 16px;
    display: inline;
    padding: 0 10px;
    font-weight: 700;
  }
  #TrendingThisWeek .up .container .right ul li:hover {
    color: #ff2020;
  }
}
@media (max-width: 576px) {
  .categories .col-md-4 .forOverflow .layout div {
    top: 80%;
    left: 30%;
  }
  .categories .col-md-4 .forOverflow .layout div h4 {
    font-size: 25px;
    margin-bottom: 45px;
  }
  .categories .col-md-4 .forOverflow .layout div a {
    font-size: 20px;
  }
  #TrendingThisWeek .up .container .left {
    width: 50%;
    font-size: 30px;
  }
  #TrendingThisWeek .up .container .left h5 {
    font-size: 16px;
  }
  #TrendingThisWeek .up .container .right {
    width: 50%;
    text-align: end;
  }
  #TrendingThisWeek .up .container .right ul {
    display: inline;
  }
  #TrendingThisWeek .up .container .right ul .active {
    border-bottom: solid 4px #FF2020;
    padding-bottom: 25px;
    color: #FF2020;
  }
  #TrendingThisWeek .up .container .right ul li {
    font-size: 16px;
    display: inline;
    padding: 0 10px;
    font-weight: 700;
  }
  #TrendingThisWeek .up .container .right ul li:hover {
    color: #ff2020;
  }
}
#TrendingThisWeek .up .container {
  border-bottom: rgba(114, 114, 114, 0.5) solid 1px;
  display: flex;
  flex-wrap: wrap;
  height: 70px;
  line-height: 70px;
}
#TrendingThisWeek .up .container .left {
  width: 50%;
  font-size: 30px;
}
#TrendingThisWeek .up .container .left h5 {
  color: black;
  font-size: 30px;
  margin-top: 0;
  padding: 0;
}
#TrendingThisWeek .up .container .right {
  width: 50%;
  text-align: end;
}
#TrendingThisWeek .up .container .right ul {
  display: inline;
}
#TrendingThisWeek .up .container .right ul .active {
  border-bottom: solid 4px #FF2020;
  padding-bottom: 25px;
  color: #FF2020;
}
#TrendingThisWeek .up .container .right ul li {
  font-size: 16px;
  display: inline;
  padding: 0 10px;
  font-weight: 700;
}
#TrendingThisWeek .up .container .right ul li:hover {
  color: #ff2020;
}
#TrendingThisWeek .down {
  position: relative;
}
#TrendingThisWeek .down #scrollbtn {
  z-index: 50;
  display: flex;
  width: 90%;
  justify-content: space-between;
  position: absolute;
  top: 45%;
  left: 5%;
}
#TrendingThisWeek .down #scrollbtn button {
  background-color: transparent;
  border: none;
  color: rgba(95, 88, 88, 0.4);
}
#TrendingThisWeek .down #scrollbtn button:hover {
  color: #ff2020;
}
#TrendingThisWeek .down .container {
  overflow: hidden;
  padding: 20 0px;
}
#TrendingThisWeek .down .d-flex > div {
  position: relative;
}
#TrendingThisWeek .down .d-flex > div .hideoverflow {
  width: 100%;
  overflow: hidden;
}
#TrendingThisWeek .down .d-flex > div .hideoverflow img {
  width: 100%;
  transition: all 0.5s;
}
#TrendingThisWeek .down .d-flex > div ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 30%;
  left: 25%;
  background-color: #ddd;
  display: none;
}
#TrendingThisWeek .down .d-flex > div ul li {
  display: inline-block;
  padding: 10px;
  transition: background-color 0.5s;
}
#TrendingThisWeek .down .d-flex > div ul li:hover {
  background-color: #FF2020;
}
#TrendingThisWeek .down .d-flex > div .labels {
  text-align: center;
  font-size: 18px;
}
#TrendingThisWeek .down .d-flex > div .labels .span2 {
  padding: 0 10px;
  color: #E6DDCD;
  text-decoration: line-through;
}
#TrendingThisWeek .down .d-flex > div:hover ul {
  display: inline-block;
}
#TrendingThisWeek .down .d-flex > div:hover img {
  transform: scale(1.1, 1.1);
}

@media (max-width: 1400px) {
  #TrendingThisWeek .down .d-flex > div ul {
    bottom: 40%;
    left: 22%;
  }
}
@media (max-width: 1200px) {
  #TrendingThisWeek .down .d-flex > div ul {
    bottom: 50%;
    left: 15%;
  }
}
@media (max-width: 767px) {
  #TrendingThisWeek .up .container {
    height: 50px;
    line-height: 50px;
  }
  #TrendingThisWeek .up .container .left {
    width: 40%;
  }
  #TrendingThisWeek .up .container .left h5 {
    font-size: 20px;
  }
  #TrendingThisWeek .up .container .right {
    width: 60%;
  }
  #TrendingThisWeek .up .container .right ul .active {
    padding-bottom: 15px;
  }
  #TrendingThisWeek .up .container .right ul li {
    padding: 0 5px;
  }
  #TrendingThisWeek .down .d-flex > div ul {
    bottom: 40%;
    left: 20%;
  }
}
@media (max-width: 576px) {
  #TrendingThisWeek .up .container {
    height: 30px;
    line-height: 30px;
  }
  #TrendingThisWeek .up .container .left h5 {
    font-size: 15px;
  }
  #TrendingThisWeek .up .container .right ul .active {
    padding-bottom: 5px;
  }
  #TrendingThisWeek .up .container .right ul li {
    padding: 0 5px;
    font-size: 13px;
    font-weight: 600;
  }
  #TrendingThisWeek .down .d-flex > div ul {
    bottom: 25%;
    left: 35%;
  }
  .col-xsm-12 {
    flex: 0 0 auto;
    width: 90%;
    padding-left: 25px;
  }
}
#testimoial {
  background-color: #F3EAD8;
  height: 450px;
  padding: 20px 50px;
}
#testimoial .slider {
  color: #000;
  margin: auto;
  width: 60%;
  height: 410;
  align-content: center;
}
#testimoial .slider .up {
  text-align: center;
}
#testimoial .slider .up h3 {
  color: #000;
  font-size: 30px;
  font-weight: 800;
}
#testimoial .slider .up p {
  line-height: 25px;
  font-size: 18px;
}
#testimoial .slider .bottom {
  width: 80%;
  margin: auto;
  display: flex;
}
#testimoial .slider .bottom .image {
  width: 35%;
  text-align: center;
}
#testimoial .slider .bottom .image img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
#testimoial .slider .bottom h5 {
  margin: 0;
  padding: 0;
  color: #000;
}
#testimoial .slider .bottom .span2 {
  color: rgba(0, 0, 0, 0.6);
}
#testimoial .btn {
  color: black;
}

@media (max-width: 1000px) {
  #testimoial .uk-panel {
    margin: 0 70px;
  }
  #testimoial .slider {
    width: 100%;
  }
  #testimoial .slider .up h3 {
    font-size: 25px;
    font-weight: 800;
  }
  #testimoial .slider .up p {
    line-height: 25px;
    font-size: 18px;
  }
  #testimoial .slider .bottom .span2 {
    color: rgba(0, 0, 0, 0.6);
    font-size: 10px;
  }
}
@media (max-width: 700px) {
  #testimoial .uk-panel {
    margin: 0 5px;
  }
  #testimoial .slider {
    width: 100%;
  }
  #testimoial .slider .up h3 {
    font-size: 25px;
    font-weight: 800;
  }
  #testimoial .slider .up p {
    line-height: 20px;
    font-size: 16px;
  }
  #testimoial .slider .bottom .image {
    width: 40%;
  }
  #testimoial .slider .bottom h5 {
    font-size: 12px;
  }
  #testimoial .btn {
    display: none;
  }
}
#youMayLike h2 {
  font-size: 35px;
  text-align: center;
}
#youMayLike .down {
  position: relative;
}
#youMayLike .down #scrollbtn {
  display: flex;
  z-index: 50;
  width: 90%;
  justify-content: space-between;
  position: absolute;
  top: 45%;
  left: 5%;
}
#youMayLike .down #scrollbtn button {
  background-color: transparent;
  border: none;
  color: rgba(95, 88, 88, 0.4);
}
#youMayLike .down #scrollbtn button:hover {
  color: #ff2020;
}
#youMayLike .down .container {
  overflow: hidden;
  padding: 20 0px;
}
#youMayLike .down .d-flex > div {
  position: relative;
}
#youMayLike .down .d-flex > div .hideoverflow {
  overflow: hidden;
}
#youMayLike .down .d-flex > div .hideoverflow img {
  width: 100%;
  transition: all 0.5s;
}
#youMayLike .down .d-flex > div ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 120px;
  left: 68px;
  background-color: #ddd;
  display: none;
}
#youMayLike .down .d-flex > div ul li {
  display: inline-block;
  padding: 15px;
  transition: background-color 0.5s;
}
#youMayLike .down .d-flex > div ul li:hover {
  background-color: #FF2020;
}
#youMayLike .down .d-flex > div .labels {
  text-align: center;
  font-size: 18px;
}
#youMayLike .down .d-flex > div .labels .span2 {
  padding: 0 10px;
  color: #E6DDCD;
  text-decoration: line-through;
}
#youMayLike .down .d-flex > div:hover ul {
  display: inline-block;
}
#youMayLike .down .d-flex > div:hover img {
  transform: scale(1.1, 1.1);
}

#latestNews {
  background-color: rgba(221, 221, 221, 0.3);
  min-height: 700px;
  padding: 10px 0;
}
#latestNews h3 {
  text-align: center;
  font-size: 35px;
}
#latestNews div .row .col-lg-4 a {
  color: black;
}
#latestNews div .row .col-lg-4 img {
  width: 100%;
}
#latestNews div .row .col-lg-4 span {
  display: block;
  color: #aaa;
  padding: 5px 0;
}
#latestNews div .row .col-lg-4 .headinglink {
  font-size: 20px;
  padding: 5px 0;
  transition: all 0.5s;
}
#latestNews div .row .col-lg-4 p {
  color: #aaa;
  padding: 5px 0;
}
#latestNews div .row .col-lg-4 .readmore {
  text-decoration: underline;
  transition: all 0.5s;
}
#latestNews div .row .col-lg-4 .readmore:hover {
  font-size: 17px;
}
#latestNews div .row .col-lg-4:hover .headinglink {
  color: #ff2020;
}

#last {
  text-align: center;
  min-height: 240px;
  overflow: hidden;
}
#last .row .col-lg-3 {
  padding: 50px 0;
  border-right: solid 1px #eee;
}
#last .row .col-lg-3 i {
  display: block;
  padding-bottom: 5%;
}
#last .row .col-lg-3 p {
  margin: 10px 0;
  color: #aaa;
}
#last .row :last-child {
  border: none;
}

footer {
  min-height: 660px;
  color: white;
  background-color: #171613;
}
footer .up {
  align-content: center;
  min-height: 210px;
}
footer .up .row {
  border-bottom: solid 1px #eee;
  padding: 25px 0;
}
footer .up .row .left h6 {
  margin: 0;
  font-size: 20px;
}
footer .up .row .middle input {
  width: 70%;
  padding: 20px 5px;
}
footer .up .row .middle button {
  color: white;
  width: 25%;
  padding: 20px 0;
  background-color: #ff2020;
  border: none;
  transition: all 0.5s;
}
footer .up .row .middle button:hover {
  background-color: rgba(255, 32, 32, 0.7);
}
footer .up .row .right ul {
  list-style-type: none;
  margin: 0;
  text-align: center;
}
footer .up .row .right ul li {
  font-size: 25px;
  display: inline-block;
  padding: 0 7px;
}
footer .up .row .right ul li a {
  color: rgba(255, 255, 255, 0.6);
}
footer .up .row .right ul li a i {
  transition: all 0.5s;
}
footer .up .row .right ul li a i:hover {
  color: #ff2020;
  transform: rotateY(180deg);
}
footer .center .row {
  align-content: center;
  min-height: 450px;
  border-bottom: solid 1px #eee;
}
footer .center .row > div {
  padding: 15px 0;
}
footer .center .row > div img {
  width: 200px;
  height: 50px;
}
footer .center .row > div h6 {
  font-size: 20px;
  padding: 15px 0;
  margin: 0;
}
footer .center .row > div a {
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
  transition: all 0.5s;
}
footer .center .row > div a:hover {
  text-decoration: underline;
  font-size: 17px;
}
footer .down {
  min-height: 50px;
  text-align: center;
  font-size: 20px;
}
footer .down i {
  padding: 10px 0;
  color: red;
}

#category .title {
  margin-bottom: 30px;
  background-color: #F3EAD8;
  text-align: center;
  min-height: 100px;
  padding: 30px 0;
}
#category .title h5 {
  padding-bottom: 10px;
  font-size: 25px;
  margin: 0;
}
#category .title a {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}
#category .title .borderRight {
  border-right: solid 1px #ccc;
}
#category .right .col-md-6 {
  text-align: center;
  margin: 15px 0;
  position: relative;
}
#category .right .col-md-6 .hideoverflow {
  overflow: hidden;
  width: 100%;
}
#category .right .col-md-6 .hideoverflow img {
  transition: all 0.5s;
  width: 100%;
}
#category .right .col-md-6 h5 {
  margin: 10px 0;
}
#category .right .col-md-6 p {
  margin: 10px 0;
}
#category .right .col-md-6 p span {
  color: #DFC7A2;
  padding: 0 5px;
  text-decoration: line-through;
}
#category .right .col-md-6 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 110px;
  left: 60px;
  background-color: #ddd;
  display: none;
  transition: all 5s;
}
#category .right .col-md-6 ul li {
  display: inline-block;
  padding: 15px;
  transition: background-color 0.5s;
}
#category .right .col-md-6 ul li:hover {
  background-color: #FF2020;
  color: white;
}
#category .right .col-md-6:hover ul {
  display: inline;
}
#category .right .col-md-6:hover img {
  transform: scale(1.1, 1.1);
}
#category .left {
  margin: 15px 0;
  padding: 20px;
  border-radius: 10px;
  border: rgba(204, 204, 204, 0.6) solid 1px;
}
#category .left select {
  display: block;
  padding: 10px 20px;
  text-align: center;
  margin: 10px auto;
  width: 80%;
  border-radius: 10px;
  border: rgba(204, 204, 204, 0.6) solid 1px;
}
#category .left select option:hover {
  background-color: red;
}
#category .left .filtergenres p {
  margin: 10px 0;
  position: relative;
}
#category .left .filtergenres p i {
  color: white;
  font-size: 10px;
  text-align: center;
  line-height: 18px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 2;
  top: 2;
  border: solid 1px rgba(204, 204, 204, 0.6);
  z-index: -10;
}
#category .left .filtergenres p label {
  margin: 10px;
}
#category .left .filtergenres input {
  opacity: 0;
  z-index: 1000;
}
#category .left .filterbrand p {
  margin: 10px 0;
  position: relative;
}
#category .left .filterbrand p i {
  color: white;
  font-size: 10px;
  text-align: center;
  line-height: 18px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 2;
  top: 2;
  border: solid 1px rgba(204, 204, 204, 0.6);
  z-index: -10;
}
#category .left .filterbrand p label {
  margin: 10px;
}
#category .left .filterbrand input {
  opacity: 0;
  z-index: 1000;
}

@media (max-width: 1400px) {
  #category .right .col-md-6 ul {
    left: 40px;
  }
}
@media (max-width: 1200px) {
  #category .right .col-md-6 ul {
    left: 60px;
  }
  #category .right .col-md-6 ul li {
    font-size: 13px;
    padding: 5px;
  }
}
@media (max-width: 767px) {
  #category .right .col-md-6 ul {
    left: 135px;
  }
  #category .right .col-md-6 ul li {
    font-size: 25px;
    padding: 15px;
  }
}
#blog, #blogdetail {
  background-color: #FDFDFD;
}
#blog .title, #blogdetail .title {
  margin-bottom: 30px;
  background-color: #F3EAD8;
  text-align: center;
  min-height: 100px;
  padding: 30px 0;
}
#blog .title h5, #blogdetail .title h5 {
  padding-bottom: 10px;
  font-size: 25px;
  margin: 0;
}
#blog .title a, #blogdetail .title a {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}
#blog .title .borderRight, #blogdetail .title .borderRight {
  border-right: solid 1px #ccc;
}
#blog .blogbody .col-md-8 .col-12, #blogdetail .blogbody .col-md-8 .col-12 {
  background-color: #FFFFFF;
  border: solid 1px #cccccc;
}
#blog .blogbody .col-md-8 .col-12 .image, #blogdetail .blogbody .col-md-8 .col-12 .image {
  position: relative;
}
#blog .blogbody .col-md-8 .col-12 .image .over, #blogdetail .blogbody .col-md-8 .col-12 .image .over {
  width: 100px;
  height: 100px;
  border-radius: 10px 0 10px 0;
  background-color: #FF2020;
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  position: absolute;
  bottom: -25px;
  left: 50px;
  transition: all 0.7s;
}
#blog .blogbody .col-md-8 .col-12 .image .over span, #blogdetail .blogbody .col-md-8 .col-12 .image .over span {
  display: block;
}
#blog .blogbody .col-md-8 .col-12 .image .over:hover, #blogdetail .blogbody .col-md-8 .col-12 .image .over:hover {
  color: #FF2020;
  background-color: white;
}
#blog .blogbody .col-md-8 .col-12 .content, #blogdetail .blogbody .col-md-8 .col-12 .content {
  padding: 20px;
}
#blog .blogbody .col-md-8 .col-12 .content h5, #blogdetail .blogbody .col-md-8 .col-12 .content h5 {
  font-size: 25px;
  cursor: pointer;
}
#blog .blogbody .col-md-8 .col-12 .content h5:hover, #blogdetail .blogbody .col-md-8 .col-12 .content h5:hover {
  color: #FF2020;
}
#blog .blogbody .col-md-8 .col-12 .content span, #blogdetail .blogbody .col-md-8 .col-12 .content span {
  cursor: pointer;
  font-size: 15px;
  color: #4C4C4C;
}
#blog .blogbody .col-md-8 .col-12 .content .user, #blogdetail .blogbody .col-md-8 .col-12 .content .user {
  border-right: 2px solid rgba(204, 204, 204, 0.8);
  padding-right: 5px;
  margin-right: 5px;
}
#blog .nextPrevBtn, #blogdetail .nextPrevBtn {
  padding: 10px 0;
  text-align: center;
}
#blog .nextPrevBtn i, #blog .nextPrevBtn button, #blogdetail .nextPrevBtn i, #blogdetail .nextPrevBtn button {
  margin: 0 5px;
  font-size: 25px;
  border: solid 1px black;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ff2020;
  transition: all 0.5s;
}
#blog .nextPrevBtn i:hover, #blog .nextPrevBtn button:hover, #blogdetail .nextPrevBtn i:hover, #blogdetail .nextPrevBtn button:hover {
  color: #fff;
  background-color: #ff2020;
}
#blog .col-md-4 .col-12, #blogdetail .col-md-4 .col-12 {
  background-color: #FBF9FF;
  border-radius: 10px;
}
#blog .col-md-4 .col-12 h6, #blogdetail .col-md-4 .col-12 h6 {
  border-bottom: solid 1px rgba(204, 204, 204, 0.5);
  padding-bottom: 10px;
  font-size: 25px;
  text-transform: capitalize;
  margin: 15px 0px;
}
#blog .col-md-4 .col-12 .search input, #blogdetail .col-md-4 .col-12 .search input {
  outline: none;
  padding: 10px;
  width: 100%;
}
#blog .col-md-4 .col-12 .category a, #blogdetail .col-md-4 .col-12 .category a {
  display: block;
  text-decoration: none;
  color: black;
  font-weight: 300;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 12px 0;
  border-bottom: solid 1px rgba(204, 204, 204, 0.4);
}
#blog .col-md-4 .col-12 .category a:hover, #blogdetail .col-md-4 .col-12 .category a:hover {
  color: #FF2020;
}
#blog .col-md-4 .col-12 .category :last-child, #blogdetail .col-md-4 .col-12 .category :last-child {
  border: none;
}
#blog .col-md-4 .col-12 .recentPost a, #blogdetail .col-md-4 .col-12 .recentPost a {
  display: block;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#blog .col-md-4 .col-12 .recentPost a:hover, #blogdetail .col-md-4 .col-12 .recentPost a:hover {
  color: #FF2020;
}
#blog .col-md-4 .col-12 .recentPost span, #blogdetail .col-md-4 .col-12 .recentPost span {
  color: rgba(48, 26, 34, 0.5);
  font-size: 15px;
}
#blog .col-md-4 .col-12 .TagClouds button, #blogdetail .col-md-4 .col-12 .TagClouds button {
  background-color: white;
  color: rgba(153, 153, 153, 0.8);
  border: 1px solid rgba(204, 204, 204, 0.6);
  padding: 8px 12px;
  margin: 5px 2px;
  transition: all 0.25s;
}
#blog .col-md-4 .col-12 .TagClouds button:hover, #blogdetail .col-md-4 .col-12 .TagClouds button:hover {
  color: white;
  background-color: #ff2020;
}
#blog .col-md-4 .col-12 .newsLetter input, #blogdetail .col-md-4 .col-12 .newsLetter input {
  width: 100%;
  padding: 10px;
  outline: none;
  margin-bottom: 5px;
}
#blog .col-md-4 .col-12 .newsLetter button, #blogdetail .col-md-4 .col-12 .newsLetter button {
  width: 100%;
  color: #ff2020;
  border: solid 1px #ff2020;
  background-color: white;
  transition: all 0.25s;
  padding: 10px 0;
}
#blog .col-md-4 .col-12 .newsLetter button:hover, #blogdetail .col-md-4 .col-12 .newsLetter button:hover {
  color: white;
  background-color: #ff2020;
}

@media (max-width: 1200px) and (min-width: 768px) {
  .btnred {
    padding: 7px 0px;
    font-size: 10px;
  }
  #blog .col-md-4 .col-12 h6, #blogdetail .col-md-4 .col-12 h6 {
    padding-bottom: 5px;
    font-size: 16px;
    margin: 10px 0px;
  }
  #blog .col-md-4 .col-12 .search input, #blogdetail .col-md-4 .col-12 .search input {
    outline: none;
    padding: 4px;
    width: 100%;
  }
  #blog .col-md-4 .col-12 .category a, #blogdetail .col-md-4 .col-12 .category a {
    font-size: 13px;
    padding: 5px 0;
  }
  #blog .col-md-4 .col-12 .recentPost a, #blogdetail .col-md-4 .col-12 .recentPost a {
    font-size: 10px;
  }
  #blog .col-md-4 .col-12 .recentPost span, #blogdetail .col-md-4 .col-12 .recentPost span {
    font-size: 8px;
  }
  #blog .col-md-4 .col-12 .TagClouds button, #blogdetail .col-md-4 .col-12 .TagClouds button {
    padding: 4px 6px;
    margin: 2px 0px;
  }
}
@media (max-width: 420px) {
  #blog .nextPrevBtn, #blogdetail .nextPrevBtn {
    padding: 5px 0;
  }
  #blog .nextPrevBtn i, #blog .nextPrevBtn button, #blogdetail .nextPrevBtn i, #blogdetail .nextPrevBtn button {
    margin: 0 2px;
    font-size: 18px;
    border: solid 1px black;
    border-radius: 5px;
    padding: 2px 5px;
  }
}
#blogdetail .col-md-8 {
  font-size: 14px;
}
#blogdetail .col-md-8 .child {
  border-bottom: 1px solid rgba(204, 204, 204, 0.4);
}
#blogdetail .col-md-8 .child .headdetail h5 {
  font-size: 25px;
}
#blogdetail .col-md-8 .child .headdetail span {
  color: rgba(155, 155, 155, 0.7);
  padding: 0 10px;
  transition: all 0.5s;
  cursor: pointer;
}
#blogdetail .col-md-8 .child .headdetail span:hover {
  color: #FF2020;
}
#blogdetail .col-md-8 .child .headdetail .user {
  border-right: 1px solid rgba(155, 155, 155, 0.7);
}
#blogdetail .col-md-8 .child .headdetail p {
  color: #555555;
}
#blogdetail .col-md-8 .child .headdetail .backgroundedP {
  background-color: #F2F3F7;
  padding: 30px;
}
#blogdetail .col-md-8 .child .headdetail .backgroundedP p {
  background-color: #fff;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin: 0;
  color: rgba(119, 119, 119, 0.8);
}
#blogdetail .col-md-8 .child .prevnext .col-12 {
  padding: 10px 0;
}
#blogdetail .col-md-8 .child .prevnext .col-12 .left i {
  padding-right: 10px;
}
#blogdetail .col-md-8 .child .prevnext .col-12 .right {
  text-align: right;
}
#blogdetail .col-md-8 .child .prevnext .col-12 .right i {
  padding: 0 5px;
  font-size: 16px;
  color: #999;
}
#blogdetail .col-md-8 .child .prevnext .col-12 .right i:hover {
  color: #ff2020;
}
#blogdetail .col-md-8 .child .prevnext p, #blogdetail .col-md-8 .child .prevnext label {
  font-size: 12px;
}
#blogdetail .col-md-8 .child .prevnext p {
  font-weight: 800;
}
#blogdetail .col-md-8 .child .prevnext p:hover {
  color: #ff2020;
}
#blogdetail .col-md-8 .child .prevnext .left .forhover, #blogdetail .col-md-8 .child .prevnext .right .forhover {
  position: relative;
}
#blogdetail .col-md-8 .child .prevnext .left .forhover img, #blogdetail .col-md-8 .child .prevnext .right .forhover img {
  height: 70px;
  width: 100px;
  z-index: -1;
}
#blogdetail .col-md-8 .child .prevnext .left .forhover .onhover, #blogdetail .col-md-8 .child .prevnext .right .forhover .onhover {
  position: absolute;
  top: 0;
  left: 12;
  opacity: 0;
  height: 70px;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  align-content: center;
  z-index: 10;
  transition: all 0.5s;
}
#blogdetail .col-md-8 .child .prevnext .left .forhover .onhover i, #blogdetail .col-md-8 .child .prevnext .right .forhover .onhover i {
  font-size: 20px !important;
  color: white;
}
#blogdetail .col-md-8 .child .prevnext .left:hover .forhover .onhover, #blogdetail .col-md-8 .child .prevnext .right:hover .forhover .onhover {
  opacity: 1;
}
#blogdetail .col-md-8 .child .authordetail .row {
  background-color: #FBF9FF;
  padding: 15px;
  border-radius: 20px;
  margin: 10px 0;
}
#blogdetail .col-md-8 .child .authordetail .row .col-9 h6 {
  margin: 0;
}
#blogdetail .col-md-8 .child .commentsection h6 {
  font-size: 18px;
  margin: 0 0 15px 0;
}
#blogdetail .col-md-8 .child .commentsection #Comments img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
#blogdetail .col-md-8 .child .commentsection #Comments > .col-12 {
  color: #999999;
  padding: 15px;
}
#blogdetail .col-md-8 .child .commentsection #Comments > .col-12 .left a {
  font-weight: 700;
  padding-right: 10px;
  color: #000;
}
#blogdetail .col-md-8 .child .commentsection #Comments > .col-12 .right {
  text-align: right;
}
#blogdetail .col-md-8 .child .commentsection #Comments > .col-12 .right a {
  color: #999999;
}
#blogdetail .col-md-8 .child .commentsection #Comments > .col-12 a:hover {
  color: #ff2020;
}
#blogdetail .col-md-8 .child .leavemsg {
  padding: 10px;
}
#blogdetail .col-md-8 .child .leavemsg h6 {
  font-size: 20px;
  margin: 0 0 20px 0;
}
#blogdetail .col-md-8 .child .leavemsg textarea {
  outline: none;
  resize: none;
  padding: 10px;
  margin-bottom: 10px;
}
#blogdetail .col-md-8 .child .leavemsg input {
  outline: none;
  width: 48%;
  padding: 10px;
  margin: 10px 0;
}
#blogdetail .col-md-8 .child .leavemsg .email {
  float: right;
}
#blogdetail .col-md-8 .child .leavemsg button {
  margin: 10px 0;
  display: block;
  background-color: white;
  padding: 20px;
  border: 1px solid #ff2020;
  color: #ff2020;
  transition: all 0.5s;
}
#blogdetail .col-md-8 .child .leavemsg button:hover {
  background-color: #ff2020;
  color: white;
}
#blogdetail .col-md-8 :last-child {
  border: none;
}

@media (max-width: 1000px) {
  #blogdetail .col-md-8 .child .commentsection {
    text-align: center;
  }
  #blogdetail .col-md-8 .child .commentsection h6 {
    font-size: 12px;
    margin: 0;
  }
  #blogdetail .col-md-8 .child .commentsection p {
    font-size: 10px;
  }
  #blogdetail .col-md-8 .child .commentsection #Comments > .col-12 {
    padding: 15px;
  }
  #blogdetail .col-md-8 .child .commentsection #Comments > .col-12 .left a {
    padding-right: 0px;
  }
}
#cart {
  padding-bottom: 20px;
}
#cart .title {
  margin-bottom: 30px;
  background-color: #F3EAD8;
  text-align: center;
  min-height: 100px;
  padding: 30px 0;
}
#cart .title h5 {
  padding-bottom: 10px;
  font-size: 25px;
  margin: 0;
}
#cart .title a {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}
#cart .title .borderRight {
  border-right: solid 1px #ccc;
}
#cart table, #cart th, #cart td {
  border-bottom: 1px solid rgba(68, 68, 68, 0.1);
  border-collapse: collapse;
  padding: 10px;
}
#cart table {
  table-layout: fixed;
  width: 100%;
}
#cart table thead {
  color: #Ccc;
  font-weight: 300;
}
#cart table tbody {
  text-align: center;
}
#cart table tbody td {
  padding: 20px 0;
}
#cart table tbody .quantitiy {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
#cart table tbody .promoInput {
  width: 90%;
  outline: none;
  padding: 10px;
}
#cart table tbody p, #cart table tbody select {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 80%;
  outline: none;
}
#cart table tbody p input, #cart table tbody select input {
  padding: 10px 0;
  outline: none;
}

.cartBtn {
  border-radius: 25px;
  padding: 15px 25px;
  margin: 5px 0;
  background: linear-gradient(to right, #CF0F0F 50%, #ff2020 50%);
  background-size: 200% 100%;
  background-position: left;
  transition: background-position 1s ease-in-out;
  color: white;
  font-weight: 700;
  border: none;
}
.cartBtn a {
  color: white;
}
.cartBtn:hover {
  animation: color-damping 1s ease-in-out forwards;
}

#ifsuccess {
  color: rgb(78, 173, 78);
  display: block;
  margin: 10px 0;
  font-size: 18px;
}

.d-none {
  display: none;
}

#Contact .title {
  margin-bottom: 30px;
  background-color: #F3EAD8;
  text-align: center;
  min-height: 100px;
  padding: 30px 0;
}
#Contact .title h5 {
  padding-bottom: 10px;
  font-size: 25px;
  margin: 0;
}
#Contact .title a {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}
#Contact .title .borderRight {
  border-right: solid 1px #ccc;
}
#Contact .getInTouch h5 {
  font-size: 25px;
  margin: 10px 0;
}
#Contact .getInTouch textarea {
  resize: none;
  width: 100%;
  outline: none;
  border: 1px solid rgba(200, 200, 200, 0.7);
  margin-bottom: 10px;
  padding: 10px;
}
#Contact .getInTouch input {
  outline: none;
  border: 1px solid rgba(200, 200, 200, 0.7);
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}
#Contact .getInTouch button {
  width: 100px;
}
#Contact .info .col-2, #Contact .info .col-10 {
  padding: 10px;
}
#Contact .info .icon {
  text-align: center;
  font-size: 25px;
  color: #8F98A9;
}
#Contact .info .text p {
  margin: 0;
}
#Contact .info .text span {
  color: #8F98A9;
}

#sign {
  position: relative;
  height: 100vh;
}
#sign .login, #sign .signUp {
  padding: 20px;
  height: 80vh;
  width: 50%;
  position: absolute;
  top: 10vh;
  left: 25%;
  box-shadow: 0px 0px 10px #ccc;
}
#sign .login .title, #sign .signUp .title {
  text-align: center;
  padding: 20px 0;
}
#sign .login .title h4, #sign .signUp .title h4 {
  margin: 10px 0;
  font-size: 30px;
}
#sign .login .title p, #sign .signUp .title p {
  margin: 10px 0;
}
#sign .login .inputs input[type=text], #sign .login .inputs input[type=password], #sign .signUp .inputs input[type=text], #sign .signUp .inputs input[type=password] {
  width: 100%;
  padding: 10px;
  outline: none;
  border: solid 1px #ccc;
  margin: 10px 0;
}
#sign .login .inputs .keepLogedIn, #sign .signUp .inputs .keepLogedIn {
  position: relative;
  padding: 10px 0;
}
#sign .login .inputs .keepLogedIn a, #sign .signUp .inputs .keepLogedIn a {
  color: #ff2020;
  position: absolute;
  right: 20px;
  text-decoration: none;
}
#sign .login .inputs .footlog span, #sign .signUp .inputs .footlog span {
  cursor: pointer;
  color: #ff2020;
}

@media (max-width: 700px) {
  #sign .login .title, #sign .signUp .title {
    text-align: center;
    padding: 20px 0;
  }
  #sign .login .title h4, #sign .signUp .title h4 {
    margin: 10px 0;
    font-size: 30px;
  }
  #sign .login .title p, #sign .signUp .title p {
    font-size: 13px;
    margin: 5px 0;
  }
  #sign .login .inputs .keepLogedIn input, #sign .login .inputs .keepLogedIn span, #sign .signUp .inputs .keepLogedIn input, #sign .signUp .inputs .keepLogedIn span {
    opacity: 0;
  }
  #sign .login .inputs .footlog, #sign .signUp .inputs .footlog {
    font-size: 12px;
  }
  #sign .login .inputs .footlog span, #sign .signUp .inputs .footlog span {
    cursor: pointer;
    color: #ff2020;
  }
}
@keyframes fromupdown {
  0% {
    background-position: 100% 200%;
  }
  20% {
    background-position: 100% 100%;
  }
  40% {
    background-position: 100% 130%;
  }
  60% {
    background-position: 100% 100%;
  }
  80% {
    background-position: 100% 115%;
  }
  100% {
    background-position: 100% 100%;
  }
}
@keyframes lefttoright {
  0% {
    background-position: 220% 100%;
  }
  20% {
    background-position: 100% 100%;
  }
  40% {
    background-position: 110% 100%;
  }
  60% {
    background-position: 100% 100%;
  }
  80% {
    background-position: 105% 100%;
  }
  100% {
    background-position: 100% 100%;
  }
}
#proDetails {
  padding-bottom: 30px;
}
#proDetails .title {
  margin-bottom: 30px;
  background-color: #F3EAD8;
  text-align: center;
  min-height: 100px;
  padding: 30px 0;
}
#proDetails .title h5 {
  padding-bottom: 10px;
  font-size: 25px;
  margin: 0;
}
#proDetails .title a {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}
#proDetails .title .borderRight {
  border-right: solid 1px #ccc;
}
#proDetails #product {
  background-color: #ff2020;
  color: white;
  justify-content: space-around;
}
#proDetails #product .col-md-4 {
  transform: scale(0.9, 0.9);
}
#proDetails #product .col-md-7 {
  display: flex;
  align-items: center;
}
#proDetails #product .col-md-7 h2 {
  margin-bottom: 0;
  font-size: 35px;
  font-weight: 500;
}
#proDetails #product .col-md-7 span {
  font-size: 13px;
}
#proDetails #product .col-md-7 p {
  padding: 30px 0;
  font-size: 18px;
}
#proDetails #product .col-md-7 .shareAddBtns .addCart {
  background-image: linear-gradient(to right, white 50%, #ff2020 50%);
  background-size: 220% 100%;
  border-radius: 25px;
  padding: 15px 35px;
  border: none;
  margin: 0 10px 0 0;
  transition: all 0.5s;
}
#proDetails #product .col-md-7 .shareAddBtns .addCart:hover {
  animation-name: lefttoright;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  box-shadow: 0 0 10px #fff;
  color: #fff;
}
#proDetails #product .col-md-7 .shareAddBtns .share {
  border-radius: 50%;
  background-image: linear-gradient(#ff2020 50%, white 50%);
  background-size: 100% 200%;
  padding: 15px;
  border: 1px solid white;
  margin: 0 0 0 10px;
  transition: all 0.5s;
}
#proDetails #product .col-md-7 .shareAddBtns .share i {
  color: white;
}
#proDetails #product .col-md-7 .shareAddBtns .share:hover {
  box-shadow: 0 0 10px #fff;
  animation-name: fromupdown;
  animation-duration: 0.5s;
  animation-fill-mode: forwards; /* Keeps the final animation state */
}
#proDetails #product .col-md-7 .shareAddBtns .share:hover i {
  border-radius: 50%;
  color: #ff2020;
}
#proDetails .content {
  margin: 20px;
}
#proDetails .content .upper {
  margin-bottom: 10px;
}
#proDetails .content .upper ul {
  list-style-type: none;
  margin: 0;
  padding: 15px 0;
  border-bottom: solid 1px rgba(204, 204, 204, 0.5);
}
#proDetails .content .upper ul li {
  display: inline;
  padding: 15px 0;
  margin: 0 10px;
  font-size: 20px;
}
#proDetails .content .pargrapgs {
  margin: 20px;
}
#proDetails .content .pargrapgs #para1 {
  padding: 15px 0;
}
#proDetails .content .pargrapgs #para2 {
  padding: 15px 0;
}

.active111 {
  border-bottom: solid 5px #ff2020;
}

#Checkout .bg-ccc {
  background-color: #F4F4F4;
  padding: 10px 5px;
}
#Checkout .bg-ccc a {
  color: #ff2020;
  text-decoration: underline;
  margin-left: 5px;
}
#Checkout .title {
  margin-bottom: 30px;
  background-color: #F3EAD8;
  text-align: center;
  min-height: 100px;
  padding: 30px 0;
}
#Checkout .title h5 {
  padding-bottom: 10px;
  font-size: 25px;
  margin: 0;
}
#Checkout .title a {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}
#Checkout .title .borderRight {
  border-right: solid 1px #ccc;
}
#Checkout .returnLogin .log p {
  margin: 0;
  padding: 10px;
  font-size: 13px;
}
#Checkout .returnLogin .log input {
  padding: 10px;
  width: 300px;
  margin: 0 10px;
  outline: none;
  border: 1px solid #ccc;
}
#Checkout .returnLogin .log button {
  display: block;
  margin: 15px 5px;
}
#Checkout .returnLogin .coupon input {
  width: 500px;
  outline: none;
  border: solid 1px #ccc;
  padding: 10px 5px;
  margin: 10px 0;
}
#Checkout .returnLogin .coupon button {
  display: block;
  margin: 10px 0;
}
#Checkout .Bill .BillDetail h5 {
  margin: 10px 0;
  font-size: 20px;
}
#Checkout .Bill .BillDetail input, #Checkout .Bill .BillDetail select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  outline: none;
  border: 1px solid #ccc;
}
#Checkout .Bill .BillDetail textarea {
  resize: none;
  width: 100%;
  outline: none;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
}
#Checkout .receipt {
  background-color: #F4F4F4;
  padding: 20px;
  margin: 10px 0;
  border-radius: 15px;
  font-size: 13px;
}
#Checkout .receipt h5 {
  font-size: 16px;
  margin: 10px 0;
  display: inline-block;
}
#Checkout .receipt h6 {
  margin: 8px 0;
  font-weight: 300;
  color: #797979;
}
#Checkout .receipt span {
  margin: 10px 0;
}
#Checkout .receipt h4 {
  margin: 5px 0;
  display: inline-block;
  font-size: 13px;
  position: relative;
}
#Checkout .receipt h4 a {
  color: #ff2020;
  text-decoration: none;
}
#Checkout .receipt h4 #check {
  position: absolute;
  top: 0;
  left: 0;
}
#Checkout .receipt h4 #check i {
  font-size: 15px;
  padding: 1px 3px;
  z-index: 0;
  bottom: 0;
  color: #F4F4F4;
  background-color: #F4F4F4;
  border: 1px solid #ddd;
}

.true {
  color: white !important;
  background-color: #ff2020 !important;
}

.btncheck {
  position: absolute;
  top: 10;
  left: 0;
}
.btncheck i {
  font-size: 15px;
  padding: 1px 3px;
  z-index: 0;
  bottom: 0;
  color: #F4F4F4;
  background-color: #F4F4F4;
  border: 1px solid #ddd;
}

/*# sourceMappingURL=main.css.map */
